---
import { Container } from "@/components/container";
import Footer from "@/components/footer.astro";
import Hero from "@/components/hero.astro";
import Navbar from "@/components/navbar.astro";
import { Resources } from "@/components/resouces";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Container>
    <Navbar />
    <Hero />
    <main><Resources client:load /></main>
    <Footer />
  </Container>
</Layout>
