<nav class="text-sm flex items-center justify-between py-6">
  <p class="font-medium">✦ AstroCurated</p>
  <a
    class="text-muted-foreground"
    href="https://github.com/astrostarters/astrocurated"
    >Source Code</a
  >
</nav>
