---
import { SEO } from "astro-seo";
import { siteConfig } from "@/config/site";

import "@/styles/global.css";

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} | ${siteConfig.title}`
  : siteConfig.title;

const description = Astro.props.description || siteConfig.description;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          image: '/og-image.png',
          type: 'website' 
        }
      }}
      twitter={{
        card: 'summary_large_image'
      }}
      extend={{
      link: [
        {
          rel: 'icon',
          href: '/favicon.svg',
          type: 'image/svg+xml'
        }
      ]
    }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
